.hover-box:hover .hover-box:click {
    background-color: rgb(116, 149, 219);
    border-radius: 20px;
    color:red;
  }

  .active{
    color: red;
    
  }

  .mylinkactive{
    color : black;
    text-decoration:  none;
    margin: 5px;
  }

  .mylinknonactive{
    color : white;
    text-decoration:  none;
    margin: 5px;
  }

  