/* .inputs {
    outline: 0;
    border-width: 0 0 2px;
    border-color: lightgrey;
  }
  .inputs:focus {
    border-color: #673FBD;
  } */


/* .input{
  border:none;
  border-bottom:2px solid #fff;
  background-color:unset;
  outline:none;
  font-size: 1em;
  min-width: 60vmin;
}

.label{
  position: absolute;
  left: 0;
  color: #fff;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}

.input:focus + label , input:not(:placeholder-shown) + label{
  transform: translateY(-1em) scale(0.8);
}

.input::placeholder{
  color:transparent
} */